@use "sass:math";

$mobile-width: 393;
$tablet-width: 768;
$desktop-width: 1920;

@function vw($px, $device-width) {
	$result: math.div($px, $device-width) * 100vw;
	@return $result;
}

@function mobile-vw($px) {
	$result: vw($px, $mobile-width);
	@return $result;
}

@function tablet-vw($px) {
	$result: vw($px, $tablet-width);
	@return $result;
}

@function desktop-vw($px) {
	$result: vw($px, $desktop-width);
	@return $result;
}

// :root {
//     --vh: 1vh;
// }

// media
$tablet: 1199.5px;
$mobile: 767.5px;
//

// Global
body{
	font-family: 'SF Compact Display', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #fff;
	background: #1D262F;
	height: var(--tg-viewport-stable-height);
	overflow: hidden;
}
//
.page {
    padding-bottom: mobile-vw(156);
}

.default-button {
    padding: mobile-vw(12);
    background: linear-gradient(103.65deg, #FECD0C 8.31%, #E8AB05 77.26%);
    border-radius: mobile-vw(2);
    color: #141A32;
    font-size: mobile-vw(14);
    font-weight: 700;
    text-align: center;
    transition: .35s ease;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
	filter: unset;
	pointer-events: unset;
	text-decoration: none;

    &_border {
        background: transparent;
        border: mobile-vw(1) solid#E8AB05;
        color: #E8AB05;
    }
}

.title {
    font-size: mobile-vw(24);
    line-height: mobile-vw(28.6);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &_small {
        font-size: mobile-vw(20);
        line-height: mobile-vw(24.2);
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba($color: #2E2A29, $alpha: 1);
    width: 101%;
    height: 101%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
	transition: .35s ease;
    
    &_active {
        visibility: visible;
        opacity: 1;
    }
}

.tabs {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: mobile-vw(6);
    background: #1D262F;
    border-radius: mobile-vw(4);

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: mobile-vw(4);
        width: 50%;
        padding: mobile-vw(10) 0;
        font-size: mobile-vw(14);
        font-weight: 700;
        letter-spacing: mobile-vw(0.2);
        text-transform: uppercase;
        z-index: 1;

        svg {
            width: mobile-vw(16);
            height: mobile-vw(16);
        }
    }

    &__selector {
        position: absolute;
        width: calc(50% - mobile-vw(6));
        height: calc(100% - mobile-vw(12));
        top: 50%;
        transform: translate(0, -50%);
        background: #151E27;
        border-radius: mobile-vw(2);
        z-index: 0;
        transition: .3s ease;

        &_2 {
           transform: translate(100%, -50%); 
           transition: .3s ease;
        }

        &_three {
            width: calc(33% - mobile-vw(6));
        }

        &_three-1 { 
            transform: translate(102.5%, -50%);
        }

        &_three-2 { 
            transform: translate(202%, -50%);
            width: 32%;
        }

    }
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
// scrollbar

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: rgba(#ccc, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(#ccc, 0);
}